.logo2{
    margin-left:30%;
}
.main{

    background: rgba(248, 248, 248, 0.41);
}
grid-block, .main, .post, .comments li, .comment-form {
    background: rgba(248, 248, 248, 0.51);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
    background-image: url("/images/Food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
}

#main {

    background: rgba(248, 248, 248, 0.41);
    position: relative;
}
.page {
    position: absolute;
    top: 0px;
    width: 100%;
}

.navbar {
    margin-bottom: 10px;

    background-image: url('images/bg_top.jpg');
    font-size: medium;
    border-color:black;
}
/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;

}

#spinner {
    height: 300px; }

.categories {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1; }
.categories:before, .post:after {
    content: "";
    display: table; }
.categories:after {
    clear: both; }
.categories.invisible {
    opacity: 0; }
.categories.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
.categories.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
.categories .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
.categories .post-content {
    float: left; }
.categories .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px; }
.categories .post-content h3 a {
    display: inline-block;
    color: #101010;
    font-size: 24px;
    margin-right: 5px; }
.categories .categories-content h3 span {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #aaaaaa;  }
.categories .categories-content p {
    margin: 0; }
.categories .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
    list-style-type: none;
    margin: 0; }
.comments li h4 {
    font-size: 16px;
    margin: 0; }
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal; }
.comments li h4 a {
    font-size: 12px; }
.comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap; }

.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px; }
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.categories .spinner-container{
    position: relative;
    height: 100px;
}

.jumbotron{
    text-align: center;
}
.jumbotron h2{
    font-size: 60px;
    font-weight: 100;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.errors{
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

.entete{

    margin:30px;
    text-align: center;
}