
<template name="panier">

    <div class="post">
        <div class="postsList">
    <div class="container">

                <div class="content">
                        <h1>votre pannier</h1>

                    <form class="validercommande" >
                            {{#each panier}}
                        <img  src="/images/{{image}}" width="50px"><br>
                                {{name}} <span>=</span>
                                {{invoiceprice}}€
                        <input  class="btn btn-danger delete" type="button" name="supprimer" value="Supprimer">
    <!--ici dans l'imput on assigne à la classe compteur un _id pour permettre la modification-->
                        <span><input class="compteur {{_id}}" name="compteur" type="number" value="{{compteur}}"><br></span>
                                <br>
                            {{/each}}
                    <br><br><h2>Total du panier :{{total}}€<br></h2>

                        <!--{{#if currentUser }}-->
                            <input  class= " btn btn-primary commander " type="submit" name="commander" value="Passer ma commande !">
                        <!--{{else}}-->
                            <!--<h2>Inscrivez vous ou connectez vous pour passer votre commande !</h2>-->
                        <!--{{/if}}-->
                    <a href="{{pathFor 'categoriesList'}}">Poursuivre la commande</a>
                    </form>
                </div>

    </div>
        </div>
    </div>
</template>
