
<template name="panier">


    <div class="post">
        <div class="postsList">
    <div class="container">
        <h1>votre pannier</h1>
        <div class="row">
            <div class="box col-xs-11 text-center col-sm-6 text-center col-md-4 text-center">
                <div class="content">
                    {{#each panier}}
                        <p> <img class="" src="/images/{{image}}">{{countItem}} {{name}} = {{price}}€</p>
                        <input class="supprimer" type="button" name="supprimer" value="Supprimer">
                        <hr>
                    {{/each}}
                    <input class="commander" type="submit" name="commander" value="Passer ma commande !">
                    <a href="{{pathFor 'categoriesList'}}" class="retour">Continuer la commande</a>

                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</template>